@font-face {
    font-family: game;
    src: url(../font/Press_Start_2P/PressStart2P-Regular.ttf);
}




#titulo{
    display: center; 
    text-align: center;
    width: 45em;
    height: 20em;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    margin-top: 5%; 
}

#botaocomo{
    width: 3.5em; 
    height: 3.5em;
} 

#botaosobre{
    width: 3.6em; 
    height: 3.6em;
}


.button2{
    cursor: pointer;
    border:rgb(219, 156, 188)  2px solid ; 
    background-color: rgb(243, 182, 213) ;
    border-radius: 100em ;
    display: inline; 
    box-shadow: 0 9px #bdbbbb;
    padding: 1em;
    margin-bottom: 2%; 
    margin-left: 0.5%;
    margin-top: 3%;
}

.button2:hover{
    background-color: rgb(243, 182, 213) ;
}

.button2:active {
  background-color:  rgb(197, 139, 168);
  box-shadow: 0 5px #666;
  transform: translateY(1em);
}

.button1{
    cursor: pointer;
    border:rgb(219, 156, 188)  2px solid ; 
    background-color: rgb(243, 182, 213) ;
    border-radius: 100em ;
    display: inline; 
    box-shadow: 0 9px #bdbbbb;
    padding: 1em;
    margin-bottom: 2%;
    margin-left: 86%;
    justify-content: flex-end;
    margin-top: 3%;
}

.button1:hover{
    background-color: rgb(243, 182, 213) ;
}

.button1:active {
  background-color:  rgb(197, 139, 168);
  box-shadow: 0 5px #666;
  transform: translateY(1em);
}



body{

    background-image: url("../img/background_deitado.jpg");
    background-repeat: no-repeat;
}


nav{
    margin:0 auto; 
}

.niveis{
    border: rgb(240, 166, 201)  2px solid ;  
    border-radius: 10px;
    background-color: rgb(172, 10, 77) ;
    font-size: 25pt;
    text-align: center;
    display: block;
    margin: 1em auto; 
    padding: 1%;
    width: 23% ;
    box-shadow: 0 4px 8px rgb(41, 39, 39) ;
}

a, a:link{
    text-decoration: none; 
    color: rgb(250, 206, 12); 
    font-family: "game";
}

a:hover{
    text-decoration: underline;
    color:aliceblue; 
    font-family: "game";
    text-shadow: 1px 1px 1px rgb(116, 99, 4) ,
                0  0 5px rgb(197, 162, 3) ,
                0  0  15px rgb(240, 205, 7), 
                0  0  25px rgb(253, 249, 7) ;
    text-decoration: none; 
}

