/*smartfone/celular (home) */ 
@media screen and (min-width: 301px) and ( max-width: 780px ){
    #titulo{
        display: center; 
        text-align: center;
        width: 27em;
        height: 12em;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 0 auto; 
        margin-top: 5%; 
    }

    .niveis{
        font-size: 20pt;
        width: 10em ;
    }

    #botaocomo{
    width: 1.9em; 
    height: 1.7em;
    } 

    #botaosobre{
        width: 1.7em; 
        height: 1.7em;
    }

    .button1{
        margin-left: 70%;
        margin-top: 25%;
    }

    body{
    display: flex;
    background-image: url("../img/background_em_pe.png");
    background-repeat: no-repeat;
}


}

@media screen and (min-width: 780px) and ( max-width: 980px ){
  .button1{
        margin-left: 70%;
        margin-top: 25%;
        background-color: brown;
    }


}

/*3840 x 2160 pixels*/
/*tv (home) */ 
@media( width >= 1024px ){



}


