/*como jogar */

@media screen and (max-width: 700px) {
    #como {
        width: 35%;
        margin-left: 15%;
        margin-bottom: 3%;
    }

    #jogar {
        width: 35%;
        margin-left: 4%;
    }

    #ftbotaohome{
        width: 1.8em;
        height: 1.8em;
    }

    .tutorial {
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #seta {
        display: inline-block;
        width: 13%;
        height: 13%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20%;
        visibility: hidden;
    }


}



@media screen and (min-width: 700px) and (max-width: 1900px ){

    #como {
        width: 29%;
        margin-left: 15%;
        margin-bottom: 2%;
    }

    #jogar{
        width: 28%;
        margin-left: 4%;
    }

    #ftbotaohome{
        width: 3em; 
        height: 3em;
    }     

    .tutorial{
        width: 25%;
        margin-left: 7%;
        margin-right: 7%;
    }


    #seta{ 
        display: inline-block; 
        width: 13%;
        height: 13%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20%;

        /*visibility: hidden;*/
    }
}




/*Home*/
@media screen and (min-width: 301px) and ( max-width: 780px ){
    #titulo{
        display: center; 
        text-align: center;
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 0 auto; 
        margin-top: 5%; 
    }

    .niveis{
        font-size: 20pt;
        width: 10em ;
    }


    #ftbotaocomo{
    width: 1.9em; 
    height: 1.7em;
    } 

    #ftbotaosobre{
        width: 1.7em; 
        height: 1.7em;
    }

    .button1{
        margin-left: 60%;
        margin-top: 25%;
    }

}

@media screen and (min-width: 780px) and ( max-width: 1300px ){
    #titulo{
        display: center; 
        text-align: center;
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 0 auto; 
        margin-top: 5%; 
    }

    .niveis{
        font-size: 20pt;
        width: 10em;
    }

    #ftbotaocomo{
    width: 1.9em; 
    height: 1.7em;
    } 

    #ftbotaosobre{
        width: 1.7em; 
        height: 1.7em;
    }

    .button1{
        margin-left: 70%;
        margin-top: 25%;
    }

}



/* sobre a equipe */

@media screen and (max-width: 768px) {

    #tituloSobre {
        width: 40%;
        height: 40%;
    }

    #tituloEquipe {
        width: 38%;
        height: 38%;
        margin-left: 30%;
    }

    #foto {
        width: 25%;
    }


    body {
        display: flex;
    }

    #integrantes {
        font-size: 15pt;

    }

    .integrantes {
        font-size: 15pt;
        text-align: start;
    }

    #explicacao {
        font-size: 15pt;
    }

    .texto{
        font-size: 15pt;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #tituloSobre {
        width: 50%;
        height: 50%;
    }

    #tituloEquipe {
        width: 48%;
        height: 48%;
        margin-left: 30%;
    }

    #foto {
        width: 25%;
    }


    body {
        display: flex;
    }

    #integrantes {
        font-size: 25pt;

    }

    .integrantes {
        font-size: 20pt;
        text-align: start;
    }

    #explicacao {
        font-size: 15pt;
    }

    .texto{
        font-size: 15pt;
    }
}


/*jogo*/
@media screen and (max-width: 1000px) {
    .score{
        margin-left: 87%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .score{
        margin-left: 54%;
    }
}